.board {
  min-width: $max-page-width;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 15px 30px;
  .post {
    max-width: 760px;
    align-content: center;
    border-bottom: 1px solid black;
    justify-content: center;
    margin-right: 30px;
  }
  .nav {
    max-width: 300px;
  }
}
