.navigation {
  width: 100%;
  .mini-nav {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-blue;
    min-width: $max-page-width;
    color: white;
    .mfn {
      padding: 0 10px;
      height: 30px;
      display: flex;
      align-items: center;
      .text {
      }
    }
    .site {
      height: 30px;
      padding: 0 10px;
      display: flex;
      align-items: center;

      &:nth-child(3) {
        min-width: 500px;
      }

      &:nth-child(4) {
        .name {
          color: #e79a0c;
        }
      }
      .logo {
        width: 25px;
        margin-right: 5px;
      }
      .name {
        font-size: $normal-font-size;
        color: #95c0e9;
        text-transform: uppercase;
      }
      .social {
        font-size: $small-font-size - 2;
        color: #95c0e9;
        text-transform: uppercase;
      }
    }
  }
  .inner {
    min-width: $max-page-width;

    height: 65px;
    display: flex;
    justify-content: center;
    background-color: #1c2a45;
    border-bottom: 1px solid black;
    .title-column {
      min-width: 235px;
      max-width: 250px;

      display: flex;
      flex-direction: row;
      align-items: center;
      .logo {
        width: 50px;
        margin-left: 5px;
        margin-right: 5px;
      }
      .title {
        width: 100px;
      }
      .subtitle {
        display: block;
        font-size: $small-font-size - 2;
        font-weight: 200;
        color: #a8bbce;
        text-align: center;
        text-transform: uppercase;
      }
    }
    .column {
      min-width: 140px;
      color: white;
      text-align: center;
      padding: 15px;
      &:nth-child(2) {
        background-color: $soft-dark-blue;

        min-width: 160px;
      }
      &:nth-child(3) {
        min-width: 180px;
      }
      &:last-child {
        padding: 0;
      }
      .title {
        padding-bottom: 4px;
        position: relative;
        font-size: $big-font-size + 2;
      }
      .subtitle {
        text-transform: uppercase;
        font-size: $small-font-size;
        color: #95c0e9;
      }
      .btn {
        width: 100%;
        height: 100%;
        border: none;
        background-color: $soft-dark-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
        .search-text {
          padding: 0 5px;
          font-weight: 800;
          color: #b2b9be;
        }
      }
      .btn:hover {
        background-color: rgb(83, 116, 148);
        .search-text {
          padding: 0 5px;
          color: #ffffff;
        }
      }
    }
  }
}
